.BoldBlueBackground {
    background-color: #273063;
}

.LighterBlueBackground {
    background-color: #314083;
}

#TopNavStyle {
    height: 40px;
    border-bottom: 1px solid #929BB2;
}

#logoBar {
    height: 110px;
    border-bottom: 1px solid #929BB2;
}

#videoStyle {
    width: 100%;
    height: 100%;
}

#bottomRowStyle {
    background-color: #314083;
    color: #ADB2CD;
}

.TextStyle {
    font-size: 200%;
}

@font-face {
    font-family: "Tasse";
    src: url("./Tasse-MediumWide.otf");
}

.TopNavText {
    /* font-family: "Tasse"; */
    font-size: 130%;
}

.DotDivider {
    background-color: #ADB2CD;
    border-radius: 30%;
    height: 10px;
    width: 13px;
    margin: 0 auto;
    margin-top: 20px;
}

.navbar .megamenu {
    padding: 0;
}


/* ============ desktop view ============ */

@media all and (min-width: 992px) {
    .navbar .has-megamenu {
        position: static!important;
    }
    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
    }
}

.has-flyOut {
    left: 0;
    right: 0;
    width: 60%;
    margin-top: 0;
    margin-left: 10%;
}


/* ============ desktop view .end// ============ */


/* ============ mobile view ============ */

@media(max-width: 991px) {
    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

.megamenuColHead {
    background-color: #314084;
    width: 100%;
}

.megamenuCol {
    margin-right: 20px;
}

.megaMenuSubMenu {
    background-color: #D7D9E7;
}

.megaMenuSubMenuItem {
    color: #314083 !important;
}


/* ============ desktop view ============ */

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .megaDrop {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.leftDrop {
    position: absolute;
    transform: translate3d(-160px, 0px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    margin: 0;
    padding: 0;
}

.dropLeftShow:hover .dropdown-menu {
    display: block;
}

.dropLeftShow:hover {
    background-color: #ECECEC;
}

.dropLeftHeader {
    background-color: #323e88;
    color: #FCFCFC;
}

.dropdownHeader {
    color: #323e88;
    font-size: 25px;
    font-family: "Tasse";
}

.dropdownSecondHeader {
    background-color: #9199c8;
    width: 100%;
    margin-left: 0;
    color: white;
}

.listStyle {
    list-style: none;
}

.listItemStyle::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #323e88;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: .4em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
}

.listItemStyle {
    color: #323e88;
}


/* .bulletStyle {
    position: relative;
    left: -7px;
    color: #323e88;
} */