.BoldBlueBackground {
    background-color: #273063;
}

.LighterBlueBackground {
    background-color: #314083;
}

#TopNavStyle {
    height: 40px;
    border-bottom: 1px solid #929BB2;
}

#logoBar {
    height: 110px;
    border-bottom: 1px solid #929BB2;
}

#videoStyle {
    width: 100%;
    height: 100%;
}

#bottomRowStyle {
    background-color: #314083;
}

.TextStyle {
    font-size: 200%;
}

ul {
    list-style-type: circle;
}