.mainContainer {
    padding: 0;
}

.BoldBlueBackground {
    background-color: #273063;
}

.LighterBlueBackground {
    background-color: #314083;
}

#TopNavStyle {
    height: 40px;
    border-bottom: 1px solid #929BB2;
}

#topNavContainer {
    margin-left: 30px;
}

#logoBar {
    height: 100px;
    border-bottom: 1px solid #929BB2;
}

#mainLogoStyle {
    margin-left: 40px;
}

#videoStyle {
    width: 100%;
    height: 100%;
}

#bottomRowStyle {
    background-color: #314083;
    color: #ADB2CD;
}

@media (min-width: 1316px) {
    .TextStyle {
        font-size: 200%;
    }
    .DotDivider {
        background-color: #ADB2CD;
        border-radius: 30%;
        height: 10px;
        width: 13px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

@media (max-width: 1315px) and (min-width: 1048px) {
    .TextStyle {
        font-size: 150%;
    }
    .DotDivider {
        background-color: #ADB2CD;
        ;
        border-radius: 30%;
        height: 10px;
        width: 13px;
        margin: 0 auto;
        margin-top: 13px;
    }
}

@media (max-width: 1047px) and (min-width: 950px) {
    .TextStyle {
        font-size: 130%;
    }
    .DotDivider {
        background-color: #ADB2CD;
        border-radius: 30%;
        height: 10px;
        width: 13px;
        margin: 0 auto;
        margin-top: 11px;
    }
}

@media (max-width: 949px) and (min-width: 100px) {
    .TextStyle {
        font-size: 110%;
    }
    .DotDivider {
        background-color: #ADB2CD;
        border-radius: 30%;
        height: 10px;
        width: 13px;
        margin: 0 auto;
        margin-top: 8px;
    }
    .bottomDiv {
        display: none;
    }
}

@font-face {
    font-family: "Tasse";
    src: url("../Tasse-MediumWide.otf");
}

@font-face {
    font-family: "Myriad";
    src: url("../MYRIADPRO-REGULAR.woff");
}

@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('../MYRIADPRO-BOLD.woff') format('woff');
}

.TopNavText {
    /* font-family: "Tasse"; */
    font-size: 120%;
}

.navbar .megamenu {
    padding: 0;
}

.cutterDropDown {
    /* width: 350px;
    height: 200px; */
    /* margin-left: 22px; */
    margin-bottom: 8px;
    margin-top: 8px;
}


/* ============ desktop view ============ */

@media all and (min-width: 992px) {
    .navbar .has-megamenu {
        position: static!important;
    }
    .navbar .megamenu {
        left: 0;
        right: 0;
        width: 100%;
        margin-top: 0;
        padding-bottom: 2px;
    }
}

.has-flyOut {
    left: 0;
    right: 0;
    width: 49%;
    padding: 0;
    padding-bottom: 15px;
    position: fixed;
    left: 350px
}

@media(max-width: 991px) {
    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
        overflow-y: auto;
        max-height: 90vh;
        margin-top: 10px;
    }
}

.megamenuColHead {
    background-color: #314084;
    width: 97%;
    margin: 0 auto;
    margin-top: 3px;
    height: 32px;
}

.cutterMenuImg {
    width: 90%;
    margin: 0 auto;
}

.megamenuCol {
    padding: 0;
}

@media (min-width: 1448px) {
    .megaMenuSubMenu {
        background-color: #D7D9E7;
        width: 90%;
        margin: 0 auto;
        height: 26px;
        padding: 0;
    }
    .rightBorder {
        border-right: 2px solid #323e88;
        height: 20px;
        position: relative;
        top: 3px;
    }
    .megaMenuSubMenuItem {
        color: #314083 !important;
        height: 100%;
        position: relative;
        bottom: 0px;
        padding-top: 3px;
    }
}

@media (max-width: 1447px) and (min-width: 1313px) {
    .megaMenuSubMenu {
        background-color: #D7D9E7;
        width: 90%;
        margin: 0 auto;
        height: 26px;
        font-size: 90%;
        padding: 0;
    }
    .rightBorder {
        border-right: 2px solid #323e88;
        height: 20px;
        position: relative;
        top: 3px;
    }
    .megaMenuSubMenuItem {
        color: #314083 !important;
        height: 100%;
        position: relative;
        bottom: 0px;
        padding-top: 5px;
    }
}

@media (max-width: 1312px) and (min-width: 1189px) {
    .megaMenuSubMenu {
        background-color: #D7D9E7;
        width: 90%;
        margin: 0 auto;
        height: 25px;
        font-size: 80%;
        padding: 0;
    }
    .rightBorder {
        border-right: 2px solid #323e88;
        height: 20px;
        position: relative;
        top: 3px;
    }
    .megaMenuSubMenuItem {
        color: #314083 !important;
        height: 100%;
        position: relative;
        bottom: 0px;
        padding-top: 4px;
    }
}

@media (max-width: 1188px) and (min-width: 1076px) {
    .megaMenuSubMenu {
        background-color: #D7D9E7;
        width: 90%;
        margin: 0 auto;
        height: 24px;
        font-size: 70%;
        padding: 0;
    }
    .rightBorder {
        border-right: 2px solid #323e88;
        height: 20px;
        position: relative;
        top: 2px;
    }
    .megaMenuSubMenuItem {
        color: #314083 !important;
        height: 100%;
        position: relative;
        bottom: 0px;
        padding-top: 7px;
    }
}

@media (max-width: 1075px) and (min-width: 450px) {
    .megaMenuSubMenu {
        background-color: #D7D9E7;
        width: 90%;
        margin: 0 auto;
        height: 23px;
        font-size: 65%;
        padding: 0;
    }
    .rightBorder {
        border-right: 2px solid #323e88;
        height: 20px;
        position: relative;
        top: 1.6px;
    }
    .megaMenuSubMenuItem {
        color: #314083 !important;
        height: 100%;
        position: relative;
        bottom: 0px;
        padding-top: 6px;
    }
}

@media (max-width: 1075px) and (min-width: 500px) {
    .brandSpacing {
        margin-right: 20% !important;
    }
}

.megaMenuSubMenuItem:hover {
    background-color: #ECECEC;
}


/* ============ desktop view ============ */

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .megaDrop {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

.mainNavHover {
    margin-right: 25px;
}

.mainNavHover:hover {
    background-color: #30427f;
    height: 40px;
}

.leftDrop {
    position: absolute;
    transform: translate3d(-224px, 0px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    margin: 0;
    padding: 0;
    width: 250px !important;
}

.dropdown-menu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropLeftShow:hover .dropdown-menu {
    display: block;
}

.dropLeftShow:hover {
    background-color: #ECECEC;
}

.dropLeftShow {
    font-family: "Myriad";
}

.MyriadBold {
    font-family: "Myriad Pro Bold";
}

.dropLeftHeader {
    background-color: #323e88;
    color: #FCFCFC;
    padding-top: 3px;
}

.dropdownHeader {
    padding: 0;
    margin: 0;
    width: 60%;
    padding-left: 20px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.dropdownSecondHeader {
    background-color: #9199c8;
    margin-left: 0;
    color: white;
    /* padding-left: 20px; */
    width: 100%;
}

.headerDropdownSpacing {
    padding-left: 31px;
}

.listStyle {
    list-style: none;
    padding: 0;
}

.listItemStyle::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #323e88;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: .4em;
    padding-right: 10px;
}

.listItemStyle {
    color: #323e88;
    width: 100%;
    padding-left: 30px;
}

.leftdropItemStyle {
    list-style: none;
    color: #323e88;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.bulletImageStyle {
    height: 20px;
    width: 22px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.flyOutItems {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Myriad Pro Bold";
}

.flyOutItems:hover {
    background-color: #ECECEC;
}

.dropdownCol {
    /* padding-left: 30px; */
}

#supportDropdown {
    width: 725px;
    position: fixed;
    left: 350px
}

#supportSecondCol {
    position: relative;
}

#accessoryMegamenu {
    left: 350px;
    right: 0;
    width: 49%;
    padding: 0;
    padding-bottom: 15px;
    position: fixed;
    width: 725px;
}

#accessorySecondCol {
    position: relative;
}

.accessoryItems {
    margin-left: 22px;
    width: 80%;
    font-family: "Myriad Pro Bold";
}

.accessoryItems:hover {
    background-color: #ECECEC;
}

.accessoryDrop {
    position: absolute;
    transform: translate3d(-175px, 0px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    margin: 0;
    padding: 0;
    width: 200px !important;
}

.accessoryItemStyle::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #323e88;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: .4em;
    padding-right: 13px;
    /* Also needed for space (tweak if needed) */
}

.accessoryItemStyle {
    list-style: none;
}

.megaMenuBottomRow {
    background-color: #323e88;
    height: 8px;
    width: 100%;
}

.cutterHeadSize {
    font-size: 123%;
    margin-top: 3px;
}


/* mobile styles
 */


/* Smartphone Portrait and Landscape */

.mobileShow {
    display: none;
    padding: 0;
}


/* Smartphone Portrait and Landscape */

@media (min-device-width: 320px) and (max-device-width: 800px) {
    .mobileShow {
        display: inline;
    }
}

.mobileHide {}


/* Smartphone Portrait and Landscape */

@media (min-device-width: 320px) and (max-device-width: 800px) {
    .mobileHide {
        display: none;
    }
}

.custom-toggler.navbar-toggler {
    border: none;
    padding: 0;
    height: 2.5em;
    width: 2.2em;
    margin-left: 10px;
    margin-top: 2.3%;
}

.custom-toggler {
    margin-bottom: 2%;
    height: 100%;
    width: 100%;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("../toggler.svg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

.navbar-toggler-icon {
    width: 90%;
    height: 90%;
}

.mobileNav {
    background-color: #323e88;
    padding-bottom: 0px;
}

.mobileMainList {
    background-color: white;
    border-bottom: #A1A6C8 2px solid;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mobileInnerlist {
    background-color: #D0D2E3;
    /* border-bottom: #6E76AB 2px solid; */
    font-family: myriad-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
}


/* .mobileInnerlist:focus {
    color: #FFFFFF;
    background-color: #6f77A9;
} */

.topItem {
    border-top: #6E76AB 2px solid;
}

.mobileFontColor {
    color: #323e88;
    padding-left: 47px !important;
    font-size: 1.4em;
}

.mobileFontColor:focus {
    color: #323e88;
    padding-left: 47px !important;
    font-size: 1.4em;
}

.mobileSubSubRightCol {
    border-top: #A1A6C8 2px solid;
    width: 100%;
    padding: 0;
    height: 100%;
}

.mobileSubSubMenuHeader {
    width: 100%;
    margin: 0;
    height: 100%;
    /* background-color: #323e88;
    font-family: "Tasse";
    color: white;
    font-size: 1.4em;
    padding-left: 14px; */
}

.subRowSizing {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.mobileSubSubText {
    color: #323e88;
    border-bottom: #A1A6C8 2px solid;
    padding-left: 20px;
    padding-top: .2em;
    /* padding-bottom: 1px; */
    height: 100%;
    font-size: 1.1em;
}

.mobileSubSubImage {
    padding: 0;
    width: 100%;
    border-right: #A1A6C8 2px solid;
}

.brandSpacing {
    margin-right: 24%;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.mobileCutter {
    width: 100%;
    height: 99%;
    border-top: 2px solid #A1A6C8;
}

.innerAccessoryItems {
    background-color: #E4E5EF;
    border-bottom: white solid 2px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5em;
}

.mobileInnerItemStyle::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #323e88;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: .4em;
    /* Also needed for space (tweak if needed) */
    /* Also needed for space (tweak if needed) */
    padding-right: 15px
}

.mobileScreenStyle {
    padding: 0;
    /* Resize the background image to cover the entire container */
    /* Center the image */
}

body {
    height: 100vh;
}


/* Smalll screen devices  */

.smallScreenShow {
    display: none;
}

@media (min-width: 320px) and (max-width: 990px) {
    .smallScreenShow {
        display: inline;
        height: 100%;
    }
    .smallScreenHide {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 990px) {
    .smallScreenHide {
        display: none;
    }
}

.linksCursor {
    cursor: pointer;
}